<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mappings Viewer</title>
  <meta name="description" content="View Minecraft mappings easily">
  <%- include('partials/header'); %>
</head>
<body>
  <h1>Mappings Viewer</h1>
  <form action="/mappings" method="get">
    <select name="version" id="">
      <% versions.forEach(v => { %>
      <option value="<%= v.id %>"><%= v.id %></option>
      <% }); %>
    </select>
    <button type="submit">Search</button>
  </form>
</body>
</html>